body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#master-container {
  /* border: solid 1px; */
  width: 1800px;
  height: 600px;
  margin: 100px auto 0 auto;
  display: grid;
  grid-template-columns: 268px 530px 1fr 530px 268px;
  grid-template-rows: 1fr;
}

#pieces-container {
  border: solid 1px black;
  width: 260px;
  height: 260px;
  margin-top: 150px;
  margin-left: -25px;

  position: relative;
}

#left-wrapper {
  width: 264px;
  height: 264px;
}

#vertline {
  margin: 0 auto 0 auto;
  background-color: grey;
  width: 1px;
  height: 600px;
}

.gameboard-grid {
  border: solid 1px;
  border-bottom: solid 2px;
  border-right: solid 2px;
  width: 510px;
  height: 510px;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.grid-div {
  width: 50px;
  height: 50px;
  border: solid 1px;
  border-right: 0;
  border-bottom: 0;
  text-align: center;
}

.grid-div:hover {
  cursor: pointer;
}

#friendly-ships-sunk {
  display: none;
  margin-top: 257px;
}

#enemy-ships-sunk {
  width: 170px;
  display: inline-block;
  margin-top: 257px;
  margin-left: 50px;
  visibility: hidden;
}

#piece-grid {
  margin: 105px 83px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  transition: ease-in-out 0.4s;

  border: solid 1px black;
  height: 45px;
  width: 90px;
}

.vertical {
  transform: rotate(90deg);
  opacity: 100;
}

.block {
  border: solid 1px black;
  cursor: pointer;
}
